*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #4dc4a6, #08715d);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 500px;
    background:linear-gradient(90deg, #2edfb8, #57e9a0);
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(14, 212, 238, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    color: #333;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #115c49, #08715d);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container input{
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #14f1b9;
    border-radius: 5px;
}

.container input::placeholder{
    color: #0ee790;
    font-weight: bold;
    font-size: 15px;
}

.container input:focus::placeholder{
    color: #036f52;
    transition: 0.3s;
    transform: translateY(-13px);

}

.container input:focus{
    outline: none;
    border-color: #036f52;
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgba(14, 158, 219, 0.1);
}

.container button{
    padding: 20px;
    background-color: #6bb09f;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    transition: 0.3s;
}

.container button:hover{
    background-color: #0dc6a3;
    transition: 0.3s;
}

