*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 500px;
    background-color: #fff;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(14, 212, 238, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    color: #333;
    margin-bottom: 20px;
}

.container input{
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #14f1b9;
    border-radius: 5px;
}

.container input:focus{
    outline: none;
    border-color: #036f52;
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgba(14, 158, 219, 0.1);
}

.container button{
    padding: 20px;
    background-color: #14f1b9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 18px;
    transition: 0.3s;
}

.container button:hover{
    background-color: #0dc6a3;
    transition: 0.3s;
}

